<div class="well" id = "<%= comment.id %>" >
	<div class="row">
	    <div class="span1.5">
	    	<% if comment.user %>
	    		<%=image_tag comment.user.image_url(:thumb), :class => "padded-bottom" %>
	    		<p><%= comment.user.name %><p>
	    	<% end %>
	    </div>
	    <div class="span4">
	    	<h3><%= comment.title %></h3>
			<p></p>
			<%= simple_format comment.body%>
			<% if current_user %>
				<% if comment.user == current_user or current_user.admin %>
					<%= link_to 'Edit', edit_comment_path(comment), :class => 'btn btn-mini btn-success' %>
					<%= link_to 'Destroy', comment_path(comment), :format => :js, :remote => true, :method => :delete, :data => {:confirm => 'Are you sure?'}, :class => 'btn btn-mini btn-danger' %>
				<% end %>
			<% end %>
		</div>
	</div>
</div>
