<%- model_class = @brand.class -%>
<div class="page-header">
  <h1><%=t '.title', :default => model_class.model_name.human %></h1>
</div>

<dl class="dl-horizontal">
  <dt><strong><%= model_class.human_attribute_name(:name) %>:</strong></dt>
  <dd><%= @brand.name %></dd>
  <dt><strong><%= model_class.human_attribute_name(:category_ids) %>:</strong></dt>
  <dd>
    <% @brand.categories.each do |cat| %>
      <%= link_to cat.name, category_path(cat) %>  
    <% end %>
  </dd>
</dl>

<h3>Products</h3>
<table class = "table table-striped">
  <thead>
    <tr>
      <th> Name </th>
      <th> Created at </th>
      <th> Actions </th>
    </tr>
  </thead>
  <tbody>
    <% @brand.products.each do |p| %>
      <tr>
        <td><%= link_to p.title, product_path(p) %></td>
        <td><%=l p.created_at %></td>
        <td>
          <div class="btn-group">
            <%= link_to t('.edit', :default => t("helpers.links.edit")),
                      edit_product_path(p), :class => "btn btn-warning btn-small" %>
            <button class="btn dropdown-toggle btn-warning btn-small" data-toggle="dropdown">
              <span class="caret"></span>
            </button>
            <ul class="dropdown-menu btn-danger btn-small">
               <%= link_to t('.destroy', :default => t("helpers.links.destroy")),
                      product_path(p),
                      :method => :delete,
                      :data => { :confirm => 'Are you sure?' }%>
            </ul>
          </div>
        </td>
      </tr>
    <%end%>
  </tbody>
</table>


<%= link_to "New product", new_product_path(:brand_id => @brand.id), class: "btn" %>





<div class="form-actions">
  <%= link_to t('.back', :default => t("helpers.links.back")),
              brands_path, :class => 'btn'  %>
  <%= link_to t('.edit', :default => t("helpers.links.edit")),
              edit_brand_path(@brand), :class => 'btn' %>
  <%= link_to t('.destroy', :default => t("helpers.links.destroy")),
              brand_path(@brand),
              :method => 'delete',
              :data => { :confirm => 'Are you sure?' },
              :class => 'btn btn-danger' %>
</div>
