<%- model_class = @category.class -%>
<div class="page-header">
  <h1><%=t '.title', :default => model_class.model_name.human %></h1>
</div>

<dl class="dl-horizontal">
  <dt><strong><%= model_class.human_attribute_name(:name) %>:</strong></dt>
  <dd><%= @category.name %></dd>
  <dt><strong><%= model_class.human_attribute_name(:super_category_id) %>:</strong></dt>
  <dd><%= @category.super_category_id %></dd>
</dl>

<h3> Brands </h3>

<table class = "table table-striped">
  <thead>
    <tr>
      <th> Name </th>
    </tr>
  </thead>
  <tbody>
    <% @category.brands.each do |b| %>
      <tr>
        <td><%= link_to b.name, brand_path(b) %></td>
      </tr>
    <%end%>
  </tbody>
</table>


<div class="form-actions">
  <%= link_to t('.back', :default => t("helpers.links.back")),
              categories_path, :class => 'btn'  %>
  <%= link_to t('.edit', :default => t("helpers.links.edit")),
              edit_category_path(@category), :class => 'btn' %>
  <%= link_to t('.destroy', :default => t("helpers.links.destroy")),
              category_path(@category),
              :method => 'delete',
              :data => { :confirm => 'Are you sure?' },
              :class => 'btn btn-danger' %>
</div>
