<%- model_class = @product.class -%>
<div class="page-header">
  <h1><%=@product.title %></h1>
</div>
<div class = "row"> 
  <div class = "span7">
    <dl class="dl-horizontal">
      <p><dd> <%= image_tag @product.image_url.to_s if @product.image? %></dd> </p>
      <h2 class = "super-padded-bottom">Comments</h2>
      <p></p>
      <% if current_user %>
        <div class = "row">
          <div class = "span2">
            <%= image_tag current_user.image %>
          </div>
          <div class = "span5">
            <div id="comment-form">
              <%= form_for @comment, :format => :js, :remote => true do |f| %>
              <%= f.hidden_field :product_id %>
              <div class="field">
                <%= f.text_area :title, :size => "25x1", :placeholder => "Resume your experience in a few words", :id => "title-comment"%>
              </div>        
              <div class="field">
                <%= f.text_area :body, :size => "25x5", :placeholder => "Explain us all your experience here", :id => "body-comment"%>
              </div>
              <div class="field">
                <%= f.submit 'Enviar comentario', :class => 'btn btn-success' %>
              </div>
              <% end  %>  
            </div>
          </div>
        </div>
      <% else %>
        <p class="super-padded-bottom">Don't have an account yet? try <%=link_to "login-facebook", "/auth/facebook" %></p>
      <% end %>
      <div id="comments">
        <%= render @comments %>
      </div>
      <p></p>

      <div class="pager">
        <ul>
          <li><%= will_paginate @comments %></li>
        </ul>
      </div>
      <% if current_user && current_user.admin %>
        <div class="form-actions">
          <%= link_to t('.back', :default => t("helpers.links.back")),
          brand_path(@product.brand), :class => 'btn'  %>
          <%= link_to t('.edit', :default => t("helpers.links.edit")),
          edit_product_path(@product), :class => 'btn' %>
          <%= link_to t('.destroy', :default => t("helpers.links.destroy")),
          product_path(@product),
          :method => 'delete',
          :data => { :confirm => 'Are you sure?' },
          :class => 'btn btn-danger' %>
        </div>
      <% end %>
    </div>

    <div class = "span5 comments">
      <div class="centered">
        <h2><%= link_to @product.brand.name + " Comments", brand_path(@product.brand), :class => 'link_without_style' %></h2>
      </div>
      <p></p>
      <div class = "well well-hari">
        <% if @product.brand.comments.any? %>
          <% @product.brand.comments[1..7].each do |brand_comment| %>
            <div class = "separated">
              <b><%= brand_comment.title %></b>
              <p></p>
              <%= simple_format brand_comment.body %>
            </div>
          <% end %> 
        <% end %>
      </div>
    </div>
  </div>