<%- model_class = @super_category.class -%>
<div class="page-header">
  <h1><%=t '.title', :default => model_class.model_name.human %></h1>
</div>

<dl class="dl-horizontal">
  <dt><strong><%= model_class.human_attribute_name(:name) %>:</strong></dt>
  <dd><%= @super_category.name %></dd>
</dl>

<h2> Categories </h2>

<table class = "table table-striped">
  <thead>
    <tr>
      <th> Name </th>
    </tr>
  </thead>
  <tbody>
    <% @super_category.categories.each do |c| %>
      <tr>
        <td> <%= link_to c.name, category_path(c) %> </td>
      </tr>
    <% end %>
  </tbody>
</table>





<div class="form-actions">
  <%= link_to t('.back', :default => t("helpers.links.back")),
              super_categories_path, :class => 'btn'  %>
  <%= link_to t('.edit', :default => t("helpers.links.edit")),
              edit_super_category_path(@super_category), :class => 'btn' %>
  <%= link_to t('.destroy', :default => t("helpers.links.destroy")),
              super_category_path(@super_category),
              :method => 'delete',
              :data => { :confirm => 'Are you sure?' },
              :class => 'btn btn-danger' %>
</div>
